.body{
  background-position: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
section{
  background-image: url("images/wallpaper.png");
  background-size: cover;
  background-color:rgba(100,100,100,0.1);
  border-color: black;
  border-radius: 2px;
  height:100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.table{
  background-color:rgba(100,100,100,0.8);
  border: 10px black;
  margin:auto;
  height: 50vh;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 5px;
}
.button{
  background-color: orange;
  border-radius: 5px;
  font-family:Georgia;
  font-size: 18px;
  text-align: center;

}   
@media screen and (max-width: 800px) {
  .body.section .table{
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}